.contacts_subtitle{
    padding: 50px 120px 0 0;
}

.contacts__inner{
    margin: 150px 0;
    align-items: flex-start;
}

.contacts_input {
    width: 680px;
    height: 60px;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;

    padding-left: 20px;
    margin-bottom: 30px;
}

.contacts_text-area{
    height: 200px;
}

.contact__img{
    width: 100%;
    height: auto;
}
