/* ZOOOS */

.title-container {
    position: relative;
    margin: 0 auto;
    text-align: center;

    width: 1040px;
    padding: 55px;
}

.title-container_box-shadow {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.zoos-btn {
    position: absolute;
    right: 0;
    top: 50%;

    transform: translateY(-50%);
}

.player-container {
}

video {
    width: 100%;
    height: auto;
}

.carousel {
    padding: 100px 0;
    text-align: center;
}

.carousel__inner {
    position: relative;
}

.carousel_item {
    cursor: pointer;
}

.carousel_item:nth-child(3) {
    margin: 0 40px;
}

.carousel_btn {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
}

.carousel_btn_right {
    right: 100px;
}

.carousel_btn_left {
    left: 100px;
}

.carousel_title {
    padding-bottom: 50px;
}

.zoos-info__inner {
    padding: 150px 0;
}

.zoos-info_subheader {
    margin: 0 auto;
    padding-top: 20px;
}

.info {
    display: flex;
    justify-content: flex-start;

    margin: 150px 0 50px 0;
}

.info_subheader {
    display: inline-block;
    padding: 0 20px 25px 0;
}

.info-img {
    margin-left: 240px;
}

.info_btn {
    display: inline-block;
    margin-left: 20px;
}

main {
    position: relative;
}

/* SIDE-PANEL */
.side-panel {
    position: absolute;
    top: 0;
    left: 0;

    width: 220px;

    background: #20113d;
    z-index: 2;

    transition: all .2s linear;
}

.double-arrow {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;

    color: #fff;
    font-size: 30px;
    
    cursor: pointer;
    transform: translateY(-50%);
}

.double-arrow:before{
    content: "\BB";
}

.open:checked + .side-panel{
    width: 300px;

}

.budge {
    margin-bottom: 30px;
    text-align: center;

    width: 120px;
    height: 38px;

    background: #f58021;
    border-bottom-right-radius: 5px;
}

.budge__text {
    display: inline;
    line-height: 2;
}

.animal__wrapper{
    height: 600px;
    overflow: hidden;
}

.animal-icon {
    display: block;
    box-sizing: border-box;

    margin: 20px auto;

    fill: #20113d;
    background: #f58021;
    width: 104px;
    height: 104px;
    border: 7px solid #20113d;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center;
}

.side-panel__items{
    height: 150px;
    position: relative;
    margin-bottom: -2px;
}

.side-panel__items:before{
    content: "";
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.5);

    width: 100%;
}

.animal-icon:hover {
    background-color: #fff;
    box-shadow: 0px 0px 0px 5px #fff;

    border: 7px solid #20113d;
    border-radius: 50%;
}

.animal-icon2{
    display: none;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    width: 104px;
    height: 104px;

    background-repeat: no-repeat;
    background-position: center;
}


.arrow-panel{
    height: 72px;
}

.arrow-panel::before {
    border-top: none;
}
.side-panel__items::before .arrow-panel {
    border-top: none;
}


.bottom-arrow::before{
    display: block;
    
    position: absolute;
    top: 50%;
    left: 50%;

    content: "\2039";
    color: #fff;
    font-size: 35px;
    
    cursor: pointer;
    transform: translateY(-50%) translateX(-50%) rotate(-90deg);
}

.side-panel-text{
    display: none;

    position: absolute;
    top: 50%;
    left: 110px;
    transform: translateY(-50%);

    margin: 0;
    width: 170px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}

.open:checked + .side-panel .animal__wrapper .animal-icon{
    display: none;
    width: 0;
    height: 0;
}

.open:checked ~ .side-panel .side-panel__items .double-arrow:before{
    content: "\AB";
}

.open:checked + .side-panel .animal__wrapper .animal-icon2{
    display: block;
}

.open:checked + .side-panel .animal__wrapper .side-panel-text{
    display: block;
}






.animal-icon_gorilla {
    background-image: url(../../assets/images/zoos/Gorilla.svg);
}
.animal-icon2_gorilla{
    background-image: url(../../assets/images/zoos/Gorilla_1.svg);
}

.animal-icon_panda {
    background-image: url(../../assets/images/zoos/Panda.svg);
}
.animal-icon2_panda {
    background-image: url(../../assets/images/zoos/Panda_1.svg);
}

.animal-icon_lemur {
    background-image: url(../../assets/images/zoos/Lemur.svg);
}
.animal-icon2_lemur{
    background-image: url(../../assets/images/zoos/Lemur_1.svg);
}

.animal-icon_alligator {
    background-image: url(../../assets/images/zoos/Alliator.svg);
}

.animal-icon_eagle {
    background-image: url(../../assets/images/zoos/Eagle.svg);
}
.animal-icon2_eagle {
    background-image: url(../../assets/images/zoos/Eagle_1.svg);
}

.animal-icon_koalla {
    background-image: url(../../assets/images/zoos/Koalla.svg);
}

.animal-icon_tiger {
    background-image: url(../../assets/images/zoos/Tiger.svg);
}