.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 26px 0;

    height: 74px;
    color: #fff;

    border: none;
    border-radius: 5px;
    text-align: center;

    transition: all 0.5s linear;
}

.btn:hover{
    cursor: pointer;
}

.btn_color-orange{
    color: #f58021;
}

.btn_color-navy{
    color: #20113D;
}

.btn_color-navy:hover{
    color: #fff;
}

.btn_color-navy_zoom{
    color: #20113D;
}

.btn_color-navy_zoom:hover{
    transform: scale(1.2);
}

.btn_bg-orange {
    background: #f58021;
}

.btn_bg-orange:hover {
    background: #D26004;
}

.btn_bg-turquise {
    background: #00a092;
}

.btn_bg-turquise:hover{
    background: #05786E;
}

.btn_bg-transparent {
    background: transparent;
}

/* BUTTON-SIZE */
.btn_60{
    width: 60px;
    height: 60px;
}

.btn_80{
    width: 80px;
}

.btn_120 {
    width: 120px;
}

.btn_200 {
    width: 200px;
}

.btn_240 {
    width: 240px;
}

.btn_359 {
    width: 359px;
}

.btn_320{
    width: 320px;
}

/* BUTTON BORDER */
.btn__border{
    justify-content: space-between;
    box-sizing: border-box;
}

.btn__border_white2{
    border: 1px solid #FFFFFF;
}

.btn__border_white2:hover .btn_bg-orange{
    background: #D26004;
}

.btn__border_white{
    border: 1px solid #FFFFFF;
}

.btn__border_white:hover{
    background: #00a092;
}

.btn__border_navy{
    border: 1px solid #20113D;
}

.btn__border_navy:hover{
    background: #20113D;
    color: #fff;
}

.btn__border_navy:hover .btn_color-navy{
    color: #fff;
}

.btn__border_none{
    border: none;
}

.btn__border_none:hover{
    background: #f58021;
    color: #fff;
}

.right-arrow{
    margin-left: 10px;
}

.right-arrow_margin-none{
    margin: 0;
}

.arrow{
    width: 40px;
    height: 25px;
    font-size: 25px;
}

.btn-navy-white:hover{
    background-color: #fff;
    color: #20113D;
}

