.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 26px 0;

    height: 74px;
    color: #fff;

    border: none;
    border-radius: 5px;
    text-align: center;
}

.btn_bg-orange {
    background: #f58021;
}

.btn_bg-orange:hover {
    background: #D26004;
}

.btn_bg-turquise {
    background: #00a092;
}

/* BUTTON-SIZE */
.btn_80{
    width: 80px;
}

.btn_240 {
    width: 240px;
}

.btn_359 {
    width: 359px;
}

.btn_320{
    width: 320px;
}

/* BUTTON BORDER */
.btn__border{
    justify-content: space-between;
    box-sizing: border-box;
}

.btn__border_white{
    border: 1px solid #FFFFFF;
}

.right-arrow{
    margin-left: 10px;
}

.right-arrow_margin-none{
    margin: 0;
}
