.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 26px 0;

    height: 74px;
    color: #fff;

    border: none;
    border-radius: 5px;
    text-align: center;

    transition: all 0.2s linear;
}

.btn_color-orange{
    color: #f58021;
}

.btn_color-navy{
    color: #20113D;
}

.btn_bg-orange {
    background: #f58021;
}

.btn_bg-orange:hover {
    background: #D26004;
}

.btn_bg-turquise {
    background: #00a092;
}

.btn_bg-transparent {
    background: transparent;
}

/* BUTTON-SIZE */
.btn_60{
    width: 60px;
    height: 60px;
}

.btn_80{
    width: 80px;
}

.btn_240 {
    width: 240px;
}

.btn_359 {
    width: 359px;
}

.btn_320{
    width: 320px;
}

/* BUTTON BORDER */
.btn__border{
    justify-content: space-between;
    box-sizing: border-box;
}

.btn__border_white{
    border: 1px solid #FFFFFF;
}

.btn__border_white:hover{
    background: #00a092;
}

.btn__border_navy{
    border: 1px solid #20113D;
}

.btn__border_navy:hover{
    background: #20113D;
    color: #fff;
}

.btn__border_none{
    border: none;
}

.btn__border_none:hover{
    background: #f58021;
    color: #fff;
}

.right-arrow{
    margin-left: 10px;
}

.right-arrow_margin-none{
    margin: 0;
}

.btn_right-navy:after{
    content: url(../assets/icons/right-navy-arrow.svg);
    height: 25px;
    display: inline-block;
    padding-left: 10px;
}

.btn_right-navy:hover:after{
    content: url(../assets/icons/right-white-arrow.svg);
}

.btn_left-navy:after{
    content: url(../assets/icons/left-navy-arrow.svg);
    height: 25px;
    display: inline-block;
    padding-left: 10px;
}

.btn_left-navy:hover:after{
    content: url(../assets/icons/left-white-arrow.svg);
}

.btn_right-white:after{
    content: url(../assets/icons/right-white-arrow.svg);
    height: 25px;
    display: inline-block;
    padding-left: 10px;
}

.btn_right-orange:after{
    content: url(../assets/icons/right-orange-arrow.svg);
    height: 25px;
    display: inline-block;
    padding-left: 10px;
}

.btn_right-orange:hover:after{
    content: url(../assets/icons/right-white-arrow.svg);

}

.btn__border_navy-none-padding_left:after{
    content: url(../assets/icons/left-navy-arrow.svg);
    height: 27px;
    display: inline-block;
    /* padding-left: 10px; */
}

.btn__border_navy-none-padding_left:hover:after{
    content: url(../assets/icons/left-white-arrow.svg);
}

.btn__border_navy-none-padding_right:after{
    content: url(../assets/icons/right-navy-arrow.svg);
    height: 27px;
    display: inline-block;
    /* padding-left: 10px; */
}

.btn__border_navy-none-padding_right:hover:after{
    content: url(../assets/icons/white-arrow.svg);
}

