body{
    width: 1960px;
    height: auto;
    margin: 0 auto;

    font-family: 'Montserrat', sans-serif;
}

.container{
    margin: 0 260px;
}

.header-inner, .menu, .welcome__item, .donation__inner, .card__container, .pay__item{
    display: flex;
    align-items: center;
}


/* MENU */
.menu__item{
    padding: 0 24px;
    list-style: none;
}

.menu__link{
    line-height: 150%;
    text-transform: uppercase;
    font-weight: 600;
}

.menu__link_active, .menu__link_header:hover{
    color: #00A092;
}

.menu__link_active:hover{
    cursor: context-menu;
}

/* SOCIAL */
.social__link:nth-child(1){
    margin-left: 35px;
}

.social__link:nth-child(2){
    margin: 0 30px;
}


/* MAIN */
#main{
    background: linear-gradient(106.13deg, #FFFFFF 18.05%, rgba(255, 255, 255, 0.64684) 35.48%, rgba(255, 255, 255, 0) 45.95%), 
    linear-gradient(267.79deg, #FFFFFF 2.85%, rgba(255, 255, 255, 0) 6.99%), 
    linear-gradient(180.96deg, #FFFFFF 0.2%, rgba(255, 255, 255, 0) 5.62%), 
    linear-gradient(219.86deg, #FFFFFF 0.49%, rgba(255, 255, 255, 0) 6.78%),
    linear-gradient(141.69deg, #FFFFFF 13.5%, rgba(247, 247, 247, 0) 22.24%), url(../assets/images/first/Background.png)
}

.main__inner{
    padding: 130px 0;
}

.main__title{
    display: inline-block;
    width: 890px;
}


.main__subtitle{
    width: 430px;
    padding: 50px 0;
}

/* WELCOME */
.welcome__inner{
    margin: 150px 0;
}

.welcome__item{
    justify-content: space-between;
}

.welcome__item_reverse{
    flex-direction: row-reverse;
}

.welcome__title{
    padding-top: 60px;
}

.welcome__subtitle{
    padding: 50px 0;
}

.welcome-img_right-margin{
    margin-right: 40px;
}

.welcome-img_left-margin{
    margin-left: 40px;
}

.empty_container{
    width: 100%;
    height: 150px; 
}

/* DONATION */
.donation{
    background: #20113D;
    padding: 50px 0;
}

.donation__inner{
    justify-content: space-between;
}

.donation_title{
    padding-bottom: 20px;
}

.donation_text {
    width: 609px;
}

.donation_subheader{
    padding-bottom: 10px;
}

/* OUR PETS */

.our-pets__inner{
    padding-top: 150px;
    text-align: center;
}

.btn.our-pets__btn{
    margin: 100px 0 150px 0;
}

.button-container{
    padding: 50px 0;
}

.button-container .btn{
    margin: 0 27px;
}

.card__container{
    flex-direction: column;
    margin-left: 240px;
    /* flex-wrap: wrap; */
    overflow: hidden;
}

.animal__card{
    /* max-width: calc(100% / 4); */
    width: 440px;
    height: auto;
    /* margin-right: 40px; */
    background: #20113D;

    text-align: center;

    border-radius: 5px;
}

.animals-card__photo{
    width: inherit;
    height: auto;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.subheader.card_subheader{
    margin: 30px 0 20px 0;
}

.card_body-text{
    padding: 0 30px 30px 30px;
}

.btn.card_btn{
    margin-bottom: 50px;
}

.card__wrapper{
    margin-left: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;

}

/* PAY */
.pay{
    background: #20113D;
}

.pay__inner{
    padding: 100px 0;
}


.subheader.pay_count{
    position: relative;

    margin: 100px 0 80px 0;
}

.pay_count:before{
    content: "";
    display: block;

    position: absolute;
    top: 50%;
    right: 0;

    width: 90%;
    border-top: 1px solid #FFFFFF;
}

.pay__item{
    align-items: flex-start;
}

.pay__item .btn{
    margin-top: 50px;
}

.pay_img{
    padding: 0 160px 100px 0;
}

.pay_subheader{
    padding: 30px 0 50px 0;
}

.pay_body-text{
    width: 85%;
}