.color-black{
    color: black;
}

.color-white{
    color: #fff;
}

.color-turquise{
    color: #00A092;
}

.color-orange{
   color: #F58021;
}

.f-18{
    font-size: 18px;
}

f-24{
    font-size: 24px;
}

f-54{
    font-size: 54px;
}

f-82{
    font-size: 82px;
}

